html, body, *{
    padding 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    background-color: black;
}
p{
    color: white;
}

@keyframes images1 {

}

#bae:hover{
    transform: scale(1.4); background-color: blue;
    outline: 10em solid #1c4058;
}

img{
    height: 210em; width:170em; object-fit: cover; margin:33em; box-shadow: 9px 9px #204466; border-radius: 2em; transition: transform .333s; cursor: pointer;
}

.allimages{
    display: flex; flex-direction: column; justify-content: space-around; align-items: center;
}

.addie:hover{
    outline: 10em solid #5a0d0d;
}

.mer:hover{
    transform: rotate(360deg);
    transition-duration: 1.5s;
}

.arizona:hover{
    transform: matrix(1.2, -.1, 0, 1.2, 0, 0);
}

.mark:hover{
    transform: translate(-10em ,20em);
}

img:not(:hover){
    opacity: 0.4;
}

img:hover{
    transform: scale(1.11);
}


h1{
    margin: .7em .1em; font-size: 5rem; color:#bad0e4; text-align: center; font-family: 'Inconsolata', monospace;
}
