html, body, *{
    padding b0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    background-color: black;
}

img{
    height: 110em; object-fit: cover; width:95em; margin:10em; box-shadow: 10px 10px #bad0e4; border-radius: 2em;
}

h1{
    font-size: 5rem; color:#bad0e4; text-align: center; font-family: 'Pacifico', cursive;

}
p{
    font-size: 2.2rem; color:#dfdad5; text-align: center; font-family: 'Montserrat', sans-serif;