html, body, *{
    padding 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    background-color: black;
}
p{
    color: white;
}

#derek{
animation-name: change;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes change {
    from {box-shadow: 9px 9px #204466;}
    to {box-shadow: 9px 9px #adbbc7;}
  }

#bae:hover{
    transform: scale(1.4); background-color: blue;
    outline: 10em solid #1c4058;
}


img{
    height: 210em; width:170em; object-fit: cover; margin:33em; box-shadow: 9px 9px #9dbad4; border-radius: 2em; transition: transform .333s; cursor: pointer;
    
}

.allimages{
    display: flex; flex-direction: column; justify-content: space-around; align-items: center;
}


.addie:hover{
    outline: 10em solid #5a0d0d;
}

.mer:hover{
    transform: rotate(360deg);
    transition-duration: 1.5s;
}

.arizona:hover{
    transform: matrix(1.2, -.1, 0, 1.2, 0, 0);
}

.mark:hover{
    transform: translate(-10em ,20em);
}

img:not(:hover){
    opacity: 0.4;
}

img:hover{
    transform: scale(1.11);
}


@keyframes MEOW {
    0% {color: #598fc2}
    50% {color:rgb(221, 125, 141);;}
    100% {color:rgb(128, 221, 109);}
  }

h1{
   font-size: 5rem; color:#598fc2; text-align: center; font-family: 'Inconsolata', monospace; margin: .5em .5em;
    animation-name: MEOW;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@media (max-width:1100px) {
img{
    height: 240em; width:200em; object-fit: cover; margin:33em; box-shadow: 9px 9px #cf9dd4; border-radius: 2em; transition: transform .333s; cursor: pointer;
    display: flex; flex-direction: column; justify-content: space-around; align-items: center;
}
}
